{% extends 'partials/base.html' %}
{% load static %}


{% block main_content %}

        <!-- Inner Banner -->
        <div class="inner-banner inner-bg10">
        <img src="{{ object.profile_banner.url }}" alt="Images">

            <div class="container">
                <div class="inner-title">
{#                    <h3> Author Profile</h3>#}
{#                    <ul>#}
{#                        <li>#}
{#                            <a href="../index.html">Home</a>#}
{#                        </li>#}
{#                        <li>Pages</li>#}
{#                        <li> Author Profile</li>#}
{#                    </ul>#}

                    <div class="inner-shape">

                        <img src="{% static '/images/inner-banner/inner-shape1.png' %}" alt="Images">
                        <img src="{% static '/images/inner-banner/inner-shape2.png' %}" alt="Images">

                    </div>
                </div>
            </div>
        </div>
        <!-- Inner Banner End -->




        <!-- Author Profile Area -->
        <div class="author-profile-area pt-100 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="author-profile-sidebar  mr-20">
                            <div class="author-user">

                                <img src="{{ object.profile_photo.url }}" alt="Images">
                                <i class="ri-check-line"></i>
                            </div>
    
                            <h3><a href="author-profile.html">{{ object.first_name }} {{object.last_name  }}</a></h3>
                            <span>@{{ object.username }}</span>
                            <p>{{ object.bio }}</p>
                            <div class="author-content">
                                <div class="content-left">
                                    <span>Followers</span>
                                    <h4>{{ object.userfollow_set.count }}</h4>
                                </div>


    
                                <div class="content-right">
                                    <a href="{% url 'follow-user' pk=object.user_id %}">Follow</a>

                                    <ul class="author-social">
                                        <li>
                                            <a href="https://www.facebook.com/" target="_blank">
                                                <i class="ri-facebook-fill"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/" target="_blank">
                                                <i class="ri-instagram-fill"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://twitter.com/" target="_blank">
                                                <i class="ri-twitter-fill"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-9">
                        <div class="tab featured-tab-area featured-tab-area-ml">
                            <div class="row align-items-center">
                                <div class="col-lg-12">
                                    <ul class="tabs">

                                        <a href="{% url 'signout-user' %}">
                                            <button type="button" class="default-btn border-radius-5">
                                            Sign Out
                                            </button>
                                        </a>
                                        <a href="#">
                                            <button type="button" class="default-btn border-radius-5">
                                            Edit Profile
                                            </button>
                                        </a>



{#                                        <li>#}
{#                                            <a href="#">#}
{#                                                Delete Profile#}
{#                                            </a>#}
{#                                        </li>#}

                                    </ul>
                                </div>
                            </div>
        
                            <div class="tab_content current active pt-45">
                                <div class="tabs_item current">
                                    <div class="row justify-content-center">
{#                                        ----------------------------------------------#}
                                        {% include 'product/product-card2.html' with photo_list=product_photos %}


                                    </div>
                                </div>
        

                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="pagination-area">
                                <a href="author-profile.html" class="prev page-numbers">
                                    <i class="ri-arrow-left-s-line"></i>
                                </a>
    
                                <span class="page-numbers current" aria-current="page">1</span>
                                <a href="author-profile.html" class="page-numbers">2</a>
                                <a href="author-profile.html" class="page-numbers">3</a>
                                
                                <a href="author-profile.html" class="next page-numbers">
                                    <i class="ri-arrow-right-s-line"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Author Profile Area End -->

        <!-- Involved Area -->
        <div class="involved-area-two pt-100 pb-70">
            <div class="container">
                <div class="section-title text-center">
                    <h2>Get Involved</h2>
                </div>

                <div class="row pt-45">
                    <div class="col-lg-3 col-6">
                        <div class="involved-card">
                            <div class="icon">
                                <i class="ri-flight-takeoff-line"></i>
                            </div>
                            <h3>Join Our <b>Community</b></h3>
                            <ul class="social-link">
                                <li>
                                    <a href="https://www.google.com/" target="_blank">
                                        <i class="ri-google-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <i class="ri-facebook-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="ri-instagram-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/" target="_blank">
                                        <i class="ri-twitter-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="ri-linkedin-fill"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-6">
                        <div class="involved-card">
                            <div class="icon">
                                <i class="ri-checkbox-circle-line"></i>
                            </div>
                            <h3>Become A <b>Creator</b></h3>
                            <a href="../accounts/register.html" class="default-btn">Register</a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-6">
                        <div class="involved-card">
                            <div class="icon">
                                <i class="ri-heart-2-line"></i>
                            </div>
                            <h3>Become A <b>Charity Partner</b></h3>
                            <a href="create-collection.html" class="default-btn">Express Interest</a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-6">
                        <div class="involved-card">
                            <div class="icon">
                                <i class="ri-discuss-line"></i>
                            </div>
                            <h3>Reach Out To <b>Our Team</b></h3>
                            <a href="contact.html" class="default-btn">Contact Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Involved Area End -->

{% endblock %}