{% for product in photo_list %}

<div class="col-lg-4 col-md-6">
    <div class="featured-card box-shadow" id="prod-{{ product.pk }}">
        <div class="featured-card-img">
            <a href="{% url 'details-product' username=object.user.email product_slug=product.slug %}">
                <img src="{{ product.product_photo.url}}" alt="Images">

            </a>
                <a href="{% url 'product-like' pk=product.pk %}"><p><i class="ri-heart-line"></i>{{ product.productlike_set.count }} likes</p></a>


            <a href="{% url 'details-product' username=object.user.email product_slug=product.slug %}">
            <button type="button" class="default-btn border-radius-5"> More info</button>
        </a>

        </div>

        <div class="content">
            <h3><a href="item-details.html">{{ product.name }}</a></h3>

            <div class="content-in">
                <div class="featured-card-left">
                    <span>{{ product.short_description}}</span>
                    <h4></h4>
                </div>

                <a href="{% url 'details-product' username='vic' product_slug=product.slug %}">
                    <button type="button" class="default-btn border-radius-5"> {{ product.price }} $</button>
                </a>
            </div>
            <a href="author-profile.html" class="featured-user-option">
                <img src="{{ object.profile_photo.url }}" alt="Images">
                <span>Created by @{{ object.username }}</span>
            </a>
        </div>
    </div>
</div>
{% endfor %}

