{% extends 'partials/base.html' %}
{% load static %}


{% block main_content %}

        <!-- Main Banner Area -->
        <div class="banner-area-two">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="banner-content-two">
                            <h1> Explore, buy, and sell original artworks on our vibrant platform.</h1>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam etiam rhoncus aenean a iaculis aliquet accumsan sodales consectetur.
                            </p>
                            <div class="banner-btn">
                                <a href="{% url 'create-product' %}" class="default-btn border-radius-5">Create your Product</a>
                            </div>
                        </div>
                    </div>

                    {% if user_products %}

                    <div class="col-lg-6">
                        <div class="banner-item-slider owl-carousel owl-theme">

                         {% include 'discover/banner-user-items.html' with products=user_products %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="banner-shape">
                <div class="shape-in1">

                    <img src="{% static '/images/home-two/home-two-shape1.png' %}" alt="Item">
                </div>
                <div class="shape-in2">
                    <img src="{% static '/images/home-two/home-two-shape2.png' %}" alt="Item">

                </div>
            </div>
        </div>
        <!-- Main Banner Area End -->

        <!-- Trending Area -->
        <div class="trending-area pt-100 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-7">
                        <div class="section-title">
                            <h2>Trending Artwork</h2>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-5">
                        <div class="trending-btn text-end">
                            <a href="../product/item-details.html" class="default-btn border-radius-5">Explore More</a>
                        </div>
                    </div>
                </div>

                <div class="trending-slider owl-carousel owl-theme pt-45">
                     {% include 'product/product-card.html' with photo_list=products %}
                </div>
            </div>
        </div>
        <!-- Trending Area End -->>

        <!-- Top Sellers Area -->

        <div class="top-sellers-area pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <div class="section-title">
                            <h2>Top Sellers</h2>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="trending-btn text-end">
                            <a href="authors.html" class="default-btn border-radius-5">Explore More</a>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center pt-45">

                    {% if top_sellers %}
                         {% include 'discover/top-sellers-card.html' with sellers=top_sellers %}
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- Top Sellers Area End -->





        <!-- Testimonial Area -->
        <div class="testimonial-area ptb-100">
            <div class="container">
                <div class="testimonial-slider owl-carousel owl-theme">
                    <div class="testimonial-item">
                        <div class="testimonial-img">
                            <img src="{% static '/images/testimonial/testimonial-img.png' %}" alt="Images">
                        </div>

                        <div class="testimonial-content">
                            <img src="{% static '/images/testimonial/testimonial-line.png' %}" alt="Images">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum lacus, tempus aliquam turpis diam amet leo enim. Nisi enim lorem condimentum tincidunt ornare nam adipiscing. Volutpat lacus, est hendrerit elit sed interdum.</p>
                            <ul>
                                <li>Rennie Wood </li>
                                <li>Founder</li>
                            </ul>
                        </div>
                    </div>

                    <div class="testimonial-item">
                        <div class="testimonial-img">

                            <img src="{% static '/images/testimonial/testimonial-img2.png' %}" alt="Images">
                        </div>

                        <div class="testimonial-content">

                            <img src="{% static '/images/testimonial/testimonial-line.png' %}" alt="Images">

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum lacus, tempus aliquam turpis diam amet leo enim. Nisi enim lorem condimentum tincidunt ornare nam adipiscing. Volutpat lacus, est hendrerit elit sed interdum.</p>
                            <ul>
                                <li>Macie Mood </li>
                                <li>Ex Manager</li>
                            </ul>
                        </div>
                    </div>

                    <div class="testimonial-item">
                        <div class="testimonial-img">

                            <img src="{% static '/images/testimonial/testimonial-img3.png' %}" alt="Images">
                        </div>

                        <div class="testimonial-content">

                            <img src="{% static '/images/testimonial/testimonial-line.png' %}" alt="Images">

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum lacus, tempus aliquam turpis diam amet leo enim. Nisi enim lorem condimentum tincidunt ornare nam adipiscing. Volutpat lacus, est hendrerit elit sed interdum.</p>
                            <ul>
                                <li>Olivia Jenar</li>
                                <li>CEO and Director</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial Area End -->

        <!-- Author Area -->

     {% if top_authors %}


        <div class="author-area author-area-bg2 pt-100 pb-70">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8 col-md-6">
                        <div class="section-title">
                            <h2>Top Author</h2>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="author-btn text-end">
                            <a href="authors.html" class="default-btn border-radius-5">Explore More</a>
                        </div>
                    </div>
                </div>

                <div class="row pt-45 justify-content-center">
                     {% if top_authors %}
                        {% include 'discover/top-authors-card.html' with authors=top_authors %}
                    {% endif %}
                </div>
            </div>
        </div>
     {% endif %}
    <!-- Author Area End -->




{% endblock %}